<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Vadym Ivanchuk y Alberto Tato Gómez.
    <br>
    <br>
</p>

<p>
    Vadym Ivanchuk
    <br>
	<img src="/images/vadym.png" width="170px" height="200px" alt="Imagen del alumno Vadym Ivanchuk">
	<br>
</p>
<p>
    Alberto Tato Gómez
    <br>
	<img src="/images/tato.png" width="170px" height="200px" alt="Imagen del alumno Alberto Tato Gómez">
	<br>
	<br>
</p>

<p>
	Esta práctica está alojada en un <a href="https://github.com/ivadym/quiz_2017">repositorio de GitHub</a>.
</p>
