<h1>Ayuda</h1>

<p>
    <b>¿Qué es un Quiz?</b>
    <br>
    Es un juego individual o por equipos cuyo fin es responder una serie de preguntas correctamente. 
</p>
<p>
    <b>¿Cómo se responde?</b>
    <br>
    Se responde escribiendo la contestación en la casilla de <i>Respuesta</i>. La verificación se realiza al presionar el botón de <i>Comprobar</i>.
 </p>
 <p>
    <b>Objetivo del portal</b>
    <br>
    Desarrollar una red social para crear adivinanzas.
</p>
